---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Footer from '../components/Footer';
import Hero from '../components/Hero';
import SkillsSection from '../components/SkillsSection';
import ProjectsSection from '../components/ProjectsSection';

const pageTitle = "Your Name - Resume";
const pageDescription = "Professional resume and portfolio of Your Name";
---

<Layout title={pageTitle} description={pageDescription}>
  <Header />
  <main>
    <Hero />
    <SkillsSection />
    <ProjectsSection />
  </main>
  <Footer />
</Layout>